                <section
                  data-ux="Section"
                  class="x-el x-el-section c1-1 c1-2 c1-3 c1-55 c1-6h c1-b c1-c c1-q c1-r c1-d c1-e c1-f c1-g"
                >
                  <div
                    data-ux="Divider"
                    class="x-el x-el-div c1-1 c1-2 c1-3 c1-1c c1-31 c1-14 c1-b c1-c c1-d c1-e c1-f c1-g"
                  >
                    <div
                      data-ux="Container"
                      class="x-el x-el-div c1-1 c1-2 c1-v c1-w c1-x c1-y c1-z c1-b c1-c c1-10 c1-d c1-11 c1-e c1-12 c1-f c1-13 c1-g"
                    >
                      <hr
                        aria-hidden="true"
                        role="separator"
                        data-ux="DividerHR"
                        class="x-el x-el-hr c1-1 c1-2 c1-bf c1-bg c1-bh c1-2a c1-2b c1-4 c1-b c1-c c1-d c1-e c1-f c1-g"
                      />
                    </div>
                  </div>
                  <div
                    data-ux="Container"
                    class="x-el x-el-div c1-1 c1-2 c1-v c1-w c1-x c1-y c1-z c1-b c1-c c1-10 c1-d c1-11 c1-e c1-12 c1-f c1-13 c1-g"
                  >
                    <div
                      data-ux="Layout"
                      class="x-el x-el-div c1-1 c1-2 c1-1g c1-b c1-c c1-d c1-e c1-f c1-g"
                    >
                      <div
                        data-ux="FooterDetails"
                        data-aid="FOOTER_COPYRIGHT_RENDERED"
                        data-typography="DetailsGamma"
                        class="x-el c1-bi c1-3i c1-1r c1-1s c1-4r c1-2a c1-t c1-b c1-bj c1-bk c1-3n c1-bl c1-bm c1-bn c1-bo x-rt"
                      >
                        <p style="margin: 0">
                          <span
                            >{{ .Site.Copyright }}</span
                          >
                        </p>
                      </div>
                      <hr
                        aria-hidden="true"
                        role="separator"
                        data-ux="HR"
                        class="x-el x-el-hr c1-1 c1-2 c1-bp c1-bg c1-bh c1-2a c1-t c1-bq c1-v c1-w c1-b c1-c c1-d c1-e c1-f c1-g"
                      />
                      <p
                        data-ux="FooterDetails"
                        data-aid="FOOTER_POWERED_BY_RENDERED"
                        data-typography="DetailsGamma"
                        class="x-el x-el-p c1-bi c1-3i c1-1r c1-1s c1-4r c1-2a c1-2b c1-b c1-bj c1-bk c1-3n c1-bl c1-bm c1-bn c1-bo"
                      >
                        <span
                          >Powered by
                          <a
                            rel="nofollow noopener"
                            role="link"
                            aria-haspopup="true"
                            data-ux="Link"
                            target="_blank"
                            data-aid="FOOTER_POWERED_BY_RENDERED_LINK"
                            href="https://www.arts-link.com/"
                            data-typography="LinkAlpha"
                            class="x-el x-el-a c1-1o c1-1p c1-1q c1-1r c1-1s c1-1t c1-1u c1-b c1-9v c1-bk c1-21 c1-9w c1-9x c1-bl c1-bm c1-bn c1-bo"
                            data-tccl="ux2.FOOTER.footer1.Layout.Default.Link.Default.251921.click,click"
                            >arts-link.com</a
                          >
                          </span
                        >
                      </p>
                    </div>
                  </div>
                </section>